.footer {
  display: flex;
  justify-content: space-between;
  padding: 80px 130px 136px 130px;
  background: url('../img/background/desktop-wave.svg') no-repeat;
  background-position: bottom;
  background-size: contain;
  position: relative;
  overflow: hidden;
}

.footer-background-dots {
  display: none;
}

.footer-background-dots img {
  transform: rotate(90deg);
}

.footer-socials-title,
.footer-links-title,
.footer-forms-title,
.footer-feedback-title {
  color: var(--color-gray-32);
  font-size: 12px;
  font-family: var(--font-family-M);
  text-transform: uppercase;
}

.footer-socials-container {
  display: flex;
  gap: 37px;
  margin-top: 8px;
}

.footer-socials-container img {
  transition: var(--animation);
  border-radius: 99px;
}

.footer-socials-container img:hover,
.footer-socials-container img:focus {
  background: var(--color-yellow-light);
}

.footer-links-title {
  margin-top: 40px;
}

.footer-links-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 30px;
  grid-row-gap: 16px;
  margin-top: 16px;
}

.footer-links-container a {
  color: var(--color-black);
  font-size: 14px;
  font-family: var(--font-family-R);
}

.footer-links-container a span {
  transition: var(--animation);
  border-bottom: 1px solid transparent;
}

.footer-links-container a:hover span,
.footer-links-container a:focus span {
  border-bottom: 1px solid var(--color-black);
}



.footer-forms-email {
  font-size: 32px;
  color: var(--color-purple-dark);
  font-family: var(--font-family-B);
}

.footer-feedback-title {
  margin-top: 48px;
}

.footer-feedback-form {
  margin-top: 16px;
}

.footer-feedback-form div:nth-child(2) {
  margin-top: 30px;
}

.footer-feedback-form div {
  display: flex;
  gap: 30px;
}

.footer-feedback-form input {
  background: rgba(194, 194, 194, 0.24);
  width: 270px;
  height: 48px;
  border-radius: 16px;
  color: var(--color-black);
  padding: 8px 35px 8px 16px;
  font-family: var(--font-family-M);
  font-size: 18px;
}

.footer-feedback-form input:nth-child(1) {
  background-image: url('../img/icons/icon-user.svg');
  background-repeat: no-repeat;
  background-position: right;
}

.footer-feedback-form input:nth-child(2) {
  background-image: url('../img/icons/icon-mail.svg');
  background-repeat: no-repeat;
  background-position: right;
}

.footer-feedback-form input:hover,
.footer-feedback-form textarea:hover,
.footer-feedback-form input:focus,
.footer-feedback-form textarea:focus {
  background: rgba(194, 194, 194, 0.64);
  transition: var(--animation);
}

.footer-feedback-form input::placeholder {
  color: var(--color-black);
}

.footer-feedback-form textarea {
  width: 370px;
  height: 80px;
  padding: 16px 35px 16px 16px;
  border-radius: 16px;
  background: #f1f1f1;
  color: var(--color-purple-dark);
  font-family: var(--font-family-B);
  border: 2px solid rgba(108, 92, 231, 0.24);
  resize: none;
  font-size: 18px;
  background-image: url('../img/icons/icon-edit.svg');
  background-repeat: no-repeat;
  background-position: top right;
}

.footer-feedback-form textarea::placeholder {
  color: var(--color-purple-dark);
}

.footer-feedback-form button {
  width: 170px;
  height: 80px;
  box-shadow: 0px 8px 24px rgba(38, 50, 56, 0.1), 0px 16px 32px rgba(38, 50, 56, 0.08);
  font-family: var(--font-family-B);
  color: var(--color-white);
  cursor: pointer; 
  margin-top: -30px;
}

@media (max-width: 1300px) {
  .footer {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 1100px) {
  .footer {
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer-info {
    margin-top: 80px;
  }
}


@media (max-width: 700px) {
  .footer-feedback-form > div {
    flex-direction: column;
  }

  .footer-feedback-form input:nth-child(1),
  .footer-feedback-form input:nth-child(2) {
    width: 370px;
  }

  .footer-feedback-form button {
    height: 60px;
  }

  .primary {
    display: flex;
    justify-content: end;
  }
}

@media (max-width: 500px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
    background: none;
    background: url('../img/background/shape.svg');
    background-repeat: no-repeat;
    background-position: bottom left;
  }

  .footer-background-dots {
    display: initial;
    position: absolute;
    left: 66px;
    bottom: -46px;
    z-index: -1;
  }

  .footer-background-dots img {
    width: 65px;
  }

  .footer-info > div:nth-child(2) {
    display: none;
  }

  .footer-feedback-form input:nth-child(1),
  .footer-feedback-form input:nth-child(2),
  .footer-feedback-form textarea {
    width: 90vw;
  }

  .footer-socials-title {
    display: none;
  }

  .footer-forms-email {
    font-size: 8vw;
  }

  .footer-socials-container {
    margin-top: 0px;
  }

  .footer-info {
    margin-top: 24px;
  }
}


