.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  box-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
  padding: 16px 130px;
}

.header-logo {
  display: flex;
  align-items: center;
  cursor: default;
}

.header-logo-image {
  margin-right: 20px;
}

.header-burger-menu {
  display: none;
}

.header-logo-title {
  font-family: var(--font-family-B);
  font-size: 48px;
  text-transform: uppercase;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-link {
  font-family: var(--font-family-B);
  text-decoration: none;
  color: var(--color-purple-dark);
  transition: var(--animation);
}

.header-link:hover,
.header-link:focus {
  color: var(--color-black)
}

.header-link-point {
  background: var(--color-yellow-dark);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin: 0 16px;
}

.header-button {
  width: 170px;
  height: 64px
}

@media (max-width: 1200px) {
  .header {
    padding: 16px 15px;
  }
}

@media (max-width: 960px) {
  .header-logo img {
    display: none;
  }

  .header-nav {
    display: none;
  }

  .header-logo-title {
    font-size: 24px;
    text-transform: none;
    color: var(--color-gray-64);
  }

  .header-button {
    width: 128px;
    height: 40px;
    border-radius: 8px;
    font-size: 18px;
    font-family: var(--font-family-B);
  }

  .header-logo-image {
    display: none;
  }

  .header-logo img:nth-child(1) {
    display: initial;
  }
}